body {
    margin:100px;
    padding:100px;
}

.wrapper{
    display:grid;
    grid-template-columns: 100px 100px;
    grid-gap: 5px;
}

.el{

    flex-wrap: 1;
    color: white;
    background-color: blue;
}

.flex-container{
    display:flex;
    flex-flow:row wrap;
    justify-content: space-around;
    padding:0;
    margin:0;
    list-style:none;

}

